<a href="https://colab.research.google.com/github/Akshaya97/DIABETES-PREDICTION-USING-MACHINE-LEARNING-PIPELINES/blob/main/DIABETES_PREDICTION_USING_MACHINE_LEARNING_PIPELINES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("diabetes.csv") #the dataset has been loaded as a pandas dataframe

Above dataset can be obtained from kaggle -> pima indians diabetes dataset

## DISPLAY TOP FIVE ROWS OF THE DATASET

In [ ]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

We have 8 predictor/indpendent variables  and 1 dependent/target/response variable, Outcome


1 -> Diabetes patient
0-> Non -diabetic patient

In [ ]:
data.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

## ROWS AND COLUMNS IN DATAFRAME

In [ ]:
data.shape

(768, 9)

Remember that shape is an attribute and not a method in pandas

In [ ]:
print("Number of rows", data.shape[0])
print("Number of columns",data.shape[1])

Number of rows 768
Number of columns 9

To get more information about datatypes,memory etc we use info() method

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

## CHECKING MISSING VALUES

In [ ]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

We have no missing values in our dataset

Get overall statistics about the dataset:

In [ ]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

We can observe a lot of rows having 0 values indiciating that they are missing values, hence let's replace them with NAN in order to handle these missing values

In [ ]:
import numpy as np

In [ ]:
data_copy = data.copy(deep=True)

if it was a true deep copy should have had new ids for the lists contained within data. As a result, when you modify a list inside data_copy, it affects the list inside data as well, because they are the same objects.

https://stackoverflow.com/questions/46327494/python-pandas-dataframe-copydeep-false-vs-copydeep-true-vs

In [ ]:
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [ ]:
data_copy[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI']] = data_copy[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI']].replace(0,np.nan)

In [ ]:
data_copy.isnull().sum()

Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

We replaced 0 with NaN in the data_copy and not in original dataframe, data. Now we replace all 0's in original dataframe, data with mean based imputation

## MEAN BASED IMPUTATION:

In [ ]:
data['Glucose'] = data['Glucose'].replace(0,data['Glucose'].mean())

In [ ]:
data['BloodPressure']= data['BloodPressure'].replace(0,data['BloodPressure'].mean())

In [ ]:
data['SkinThickness'] = data['SkinThickness'].replace(0,data['SkinThickness'].mean())

In [ ]:
data['Insulin'] = data['Insulin'].replace(0,data['Insulin'].mean())

In [ ]:
data['BMI'] = data['BMI'].replace(0,data['BMI'].mean())

Store the feature matrix/independent variables in X and repsonse/dependent/target variables in vector Y

In [ ]:
X = data[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age']]

In [ ]:
#The above can also be written as :
X = data.drop('Outcome',axis=1)

In [ ]:
Y = data['Outcome']

In [ ]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148.0,72.0,35.000000,79.799479,33.6,0.627,50
1,1,85.0,66.0,29.000000,79.799479,26.6,0.351,31
2,8,183.0,64.0,20.536458,79.799479,23.3,0.672,32
3,1,89.0,66.0,23.000000,94.000000,28.1,0.167,21
4,0,137.0,40.0,35.000000,168.000000,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.000000,180.000000,32.9,0.171,63
764,2,122.0,70.0,27.000000,79.799479,36.8,0.340,27
765,5,121.0,72.0,23.000000,112.000000,26.2,0.245,30
766,1,126.0,60.0,20.536458,79.799479,30.1,0.349,47
767,1,93.0,70.0,31.000000,79.799479,30.4,0.315,23

In [ ]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

## SPLIT INTO TRAINING AND TEST SETS TO EVALUATE THE PERFORMANCE OF OUR MODELS:

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size=0.2, random_state=42)

We have split the dataset such that we have one set of feature matrices and target vectors for training and another such set of feature vectors and target labels for testing with test set having 20% of the data



We perform training/train the algorithm using X_train and Y_train and see how well the model performs using the test set accuracy obtained for Y_test i.e. how accurately the outcomes are predicted by each algorithm

## CREATE A MACHINE LEARNING PIPELINE USING SCIKIT LEARN:

A pipeline chains together multiple steps, the output of the first step is used as the input to the next step. A pipeline involves various steps such as preprocessing, festure slection, model building and selection. post processing

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.pipeline import Pipeline

## LOGISTIC REGRESSION

In [ ]:
logistic_regression_pipeline = Pipeline([  ('scalar1', StandardScaler()), ('lr_classifier',LogisticRegression())    ])

Output of standard scalar is used as an input for logistic regression. Standard scalar is for feature scaling i.e. most of the features/ independent variables in our dataset do not have the same range. So, to avoid any one variable from dominating the result we perform feature scaling.


For machine learning algorithms which calculate distances between data, feature scaling is very essential. Else those features which have a higher range will start dominating while computing the distances.

KNN, Logistic and linear regression, SVM, Neural networks commonly require feature scaling.


Non-linear ML algorithms like decision tree, random forest, naive bayes, adaboost etc do not require feature scaling

Any algorithm which is not distance based is not affected by feature scaling

## KNN

In [ ]:
KNN_pipeline = Pipeline([ ('scalar2', StandardScaler()), ('KNN_classifier', KNeighborsClassifier())          ])

## SUPPORT VECTOR MACHINE

In [ ]:
SVM_pipeline = Pipeline([     ('scalar3', StandardScaler()), ('svm_classifier', SVC())        ])

## DECISION TREE

In [ ]:
Decision_Tree_pipeline = Pipeline([  ('dtree_classifier',DecisionTreeClassifier())         ])  #feature scaling not required since non-linear algorithm, so not standardscalar

## RANDOM FOREST

In [ ]:
Random_Forest_pipeline = Pipeline([   ('randomforest',RandomForestClassifier(max_depth=3))         ])

## GRADIENT BOOSTING ALGORITHM

In [ ]:
Gradient_Boosting_piepline = Pipeline([('gradient_boosting',GradientBoostingClassifier())])

## LIST OF PIPELINES CREATED:

In [ ]:
pipelines = [ logistic_regression_pipeline, KNN_pipeline, SVM_pipeline, Decision_Tree_pipeline, Random_Forest_pipeline, Gradient_Boosting_piepline]

In [ ]:
pipelines

[Pipeline(steps=[('scalar1', StandardScaler()),
                 ('lr_classifier', LogisticRegression())]),
 Pipeline(steps=[('scalar2', StandardScaler()),
                 ('KNN_classifier', KNeighborsClassifier())]),
 Pipeline(steps=[('scalar3', StandardScaler()), ('svm_classifier', SVC())]),
 Pipeline(steps=[('dtree_classifier', DecisionTreeClassifier())]),
 Pipeline(steps=[('randomforest', RandomForestClassifier(max_depth=3))]),
 Pipeline(steps=[('gradient_boosting', GradientBoostingClassifier())])]

In [ ]:
for pipe in pipelines:
  pipe.fit(X_train, Y_train)

## PREDICTION:

In [ ]:
pipe_dictionary = { 0: 'Logistic Regression',
                    1:  'KNN',
                    2:   'SVM',
                    3:   'Decision Tree',
                    4:  'Random Forest',
                    5: 'Gradient Boosting Classifier'
                    
                    }

In [ ]:
for index_in_pipe_dictionary, model in enumerate(pipelines):
  print("{} has test accuracy {} ". format(pipe_dictionary[index_in_pipe_dictionary], model.score(X_test,Y_test)*100))

Logistic Regression has test accuracy 76.62337662337663
KNN has test accuracy 76.62337662337663
SVM has test accuracy 73.37662337662337
Decision Tree has test accuracy 72.07792207792207
Random Forest has test accuracy 79.22077922077922
Gradient Boosting Classifier has test accuracy 75.97402597402598

Logistic regression and KNN have the highest accuracies of 76%. We can now tune our classifiers to obtain a higher accuracy. Let's set max depth to 3 for decision tree.


The max_depth of a tree in Random Forest is defined as the longest path between the root node and the leaf node: Using the max_depth parameter, I can limit up to what depth I want every tree in my random forest to grow.


Now we see that random forest has a 79% accuracy after the above fine tuning.

Let's now use the best performing model, which is random forest now and train it using the entire dataset

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
X = data.drop('Outcome',axis=1)
Y = data['Outcome']

Create an instance of random forest classifier

In [ ]:
rf = RandomForestClassifier(max_depth=3)

Fit the random forest classifier on the entire dataset

In [ ]:
rf.fit(X,Y)

RandomForestClassifier(max_depth=3)

## PREDICTION ON UNSEEN DATA

In [ ]:
new_data = pd.DataFrame({ 'Pregnancies':6 , 'Glucose': 148.0, 'BloodPressure':72.0, 'SkinThickness':35.0, 'Insulin':79.799479,
       'BMI':33.6, 'DiabetesPedigreeFunction':0.627, 'Age':50}, index = [0])

In [ ]:
result = rf.predict(new_data)
result

array([1])

In [ ]:
if result[0] == 1:
  print("You are diabetic")
else:
  print("Yay! You don't have diabetes")

You are diabetic

Output is 1, which means patient is diabetic

## SAVE THE MODEL USING JOBLIB LIBRARY SO THAT YOU DON'T HAVE TO TRAIN THE MODEL REPEATEDLY:

In [ ]:
import joblib

In [ ]:
joblib.dump(rf, 'diabetes_status_prediction_model')

['diabetes_status_prediction_model']

In [ ]:
model = joblib.load('diabetes_status_prediction_model')

In [ ]:
model.predict(new_data)

array([1])